In [35]:
import numpy as np        # Fundamental package for linear algebra and multidimensional arrays
import pandas as pd       # Data analysis and manipultion tool

In [2]:
# In read_csv() function, we have passed the location to where the files are located in the dphi official github page.
train_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/used_car_price/train_set_label.csv" )

In [ ]:
train_data.head()

In [ ]:
train_data.info()

In [5]:
train_data = train_data.select_dtypes(exclude='object')

In [6]:
train_data.head()

     year  odometer  county  latitude  longitude  price_of_car
0  2018.0       NaN     NaN   29.5407   -98.5521         24900
1  2006.0  169438.0     NaN   33.5161   -82.0785             0
2     NaN       NaN     NaN       NaN        NaN          4500
3     NaN       NaN     NaN       NaN        NaN         20000
4     NaN       NaN     NaN       NaN        NaN             0

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37500 entries, 0 to 37499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          21525 non-null  float64
 1   odometer      17571 non-null  float64
 2   county        0 non-null      float64
 3   latitude      21232 non-null  float64
 4   longitude     21232 non-null  float64
 5   price_of_car  37500 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 1.7 MB

In [ ]:
train_data = train_data.drop('county', axis = 1)

In [ ]:
train_data.isnull().sum()

In [10]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [11]:
train_year = train_data['year']
'''pd.DataFrame(pd.Series(train_year.ravel()).describe()).transpose()'''
train_data['year'] = imputer.fit_transform(train_data['year'].values.reshape(-1, 1))

In [12]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [13]:
train_odometer = train_data['odometer']
'''pd.DataFrame(pd.Series(train_odometer.ravel()).describe()).transpose()'''
train_data['odometer'] = imputer.fit_transform(train_data['odometer'].values.reshape(-1, 1))

In [14]:
train_latitude = train_data['latitude']
'''pd.DataFrame(pd.Series(train_latitude.ravel()).describe()).transpose()'''
train_data['latitude'] = imputer.fit_transform(train_data['latitude'].values.reshape(-1, 1))

train_longitude = train_data['longitude']
'''pd.DataFrame(pd.Series(train_longitude.ravel()).describe()).transpose()'''
train_data['longitude'] = imputer.fit_transform(train_data['longitude'].values.reshape(-1, 1))

In [15]:
train_data.isnull().sum()

year            0
odometer        0
latitude        0
longitude       0
price_of_car    0
dtype: int64

In [16]:
train_data.head(20)

      year       odometer   latitude   longitude  price_of_car
0   2018.0   97285.695692  29.540700  -98.552100         24900
1   2006.0  169438.000000  33.516100  -82.078500             0
2   2017.0   97285.695692  37.472843  -94.438136          4500
3   2017.0   97285.695692  37.472843  -94.438136         20000
4   2017.0   97285.695692  37.472843  -94.438136             0
5   2011.0  291960.000000  35.311900  -81.030600          6500
6   2017.0   97285.695692  37.472843  -94.438136          8995
7   2017.0   97285.695692  37.472843  -94.438136          7000
8   1961.0   18927.000000  28.552500  -81.757400         12500
9   2013.0   75513.000000  61.166300 -149.858000         15995
10  2017.0   40613.000000  29.046200  -80.934600         45850
11  2017.0   97285.695692  37.472843  -94.438136           465
12  2020.0    5835.000000  37.150700  -93.295800         18449
13  2017.0   97285.695692  37.472843  -94.438136         29980
14  2006.0  138095.000000  38.507700  -77.371200          7895
15  2017.0   97285.695692  37.472843  -94.438136             0
16  2014.0     168.000000  37.755900  -87.080300         17900
17  2017.0   97285.695692  37.472843  -94.438136             0
18  2017.0   97285.695692  37.472843  -94.438136         11000
19  2013.0  114194.000000  36.621800  -79.412400          8795

In [17]:
# Input/independent variables
X = train_data.drop('price_of_car', axis = 1)   # her we are droping the 'price_of_car' feature as this is the target and 'X' is input features, the changes are not 
                                              # made inplace as we have not used 'inplace = True'

y = train_data['price_of_car']             # Output/Dependent variable

In [18]:
# import train_test_split
from sklearn.model_selection import train_test_split

In [19]:
# split the data
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.3, random_state = 42)

In [20]:
#X_train['year'] = X_train['year'].fillna(X_train['year'].mode().iloc[0])
#X_val['year'] = X_val['year'].fillna(X_val['year'].mode().iloc[0])

#X_train['odometer'].fillna(X_train['odometer'].mean(), inplace=True)
#X_train['latitude'].fillna(X_train['latitude'].mean(), inplace=True)
#X_train['longitude'].fillna(X_train['longitude'].mean(), inplace=True)

#X_val['odometer'].fillna(X_val['odometer'].mean(), inplace=True)
#X_val['latitude'].fillna(X_val['latitude'].mean(), inplace=True)
#X_val['longitude'].fillna(X_val['longitude'].mean(), inplace=True)

In [21]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26250 entries, 36768 to 15795
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       26250 non-null  float64
 1   odometer   26250 non-null  float64
 2   latitude   26250 non-null  float64
 3   longitude  26250 non-null  float64
dtypes: float64(4)
memory usage: 1.0 MB

In [22]:
X_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11250 entries, 24985 to 4320
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       11250 non-null  float64
 1   odometer   11250 non-null  float64
 2   latitude   11250 non-null  float64
 3   longitude  11250 non-null  float64
dtypes: float64(4)
memory usage: 439.5 KB

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
lr = LinearRegression(n_jobs=5,normalize=True)

In [25]:
lr.fit(X_train, y_train)

C:\Users\Harsha\AppData\Local\Continuum\anaconda3\envs\tensorflow_env\lib\site-packages\sklearn\linear_model\_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

LinearRegression(n_jobs=5, normalize=True)

In [26]:
pred = lr.predict(X_val)

In [27]:
# import mean squared error from sklearn.metric
from sklearn.metrics import mean_squared_error

In [28]:
print('Root Mean Squared Error is: ', np.sqrt(mean_squared_error(y_val, pred))) 

# y_val is the original target value of the validation set (X_val)
# pred is the predicted target value of the validation set

Root Mean Squared Error is:  16035.858119718576

In [29]:
lr.score(X_train, y_train)

0.0009263236139716025

In [ ]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(C=0.5, solver="lbfgs")
clf.fit(X_train,y_train)

In [ ]:
pred_lrg = clf.predict(X_val)

In [ ]:
print('Root Mean Squared Error is: ', np.sqrt(mean_squared_error(y_val, pred_lrg))) 

# y_val is the original target value of the validation set (X_val)
# pred is the predicted target value of the validation set

In [ ]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/used_car_price/test_set_label.csv')

In [ ]:
test_data = test_data.select_dtypes(exclude='object')

In [ ]:
test_data = test_data.drop('county', axis = 1)

In [ ]:
#test_data['year'] = test_data['year'].fillna(test_data['year'].mode().iloc[0])

#test_data['odometer'].fillna(test_data['odometer'].mean(), inplace=True)
#test_data['latitude'].fillna(test_data['latitude'].mean(), inplace=True)
#test_data['longitude'].fillna(test_data['longitude'].mean(), inplace=True)

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
test_data_year = test_data['year']
'''pd.DataFrame(pd.Series(test_data_year.ravel()).describe()).transpose()'''
test_data['year'] = imputer.fit_transform(test_data['year'].values.reshape(-1, 1))

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

test_data['odometer'] = imputer.fit_transform(test_data['odometer'].values.reshape(-1, 1))
test_data['latitude'] = imputer.fit_transform(test_data['latitude'].values.reshape(-1, 1))
test_data['longitude'] = imputer.fit_transform(test_data['longitude'].values.reshape(-1, 1))

In [ ]:
#target = lr.predict(test_data)
target = clf.predict(test_data)

In [ ]:
# LR prediciton that got a score = 22099.267561511988
res = pd.DataFrame(target) #target is nothing but the final predictions of your model on input features of your new unseen test data
res.index = test_data.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]
res.to_csv("submission.csv")      # the csv file will be saved locally on the same location where this notebook is located.

In [ ]:
# LogisticReg that got a score = 26341.90355758065
res = pd.DataFrame(target) #target is nothing but the final predictions of your model on input features of your new unseen test data
res.index = test_data.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]
res.to_csv("submission.csv")      # the csv file will be saved locally on the same location where this notebook is located.

In [ ]:
# To create Dataframe of predicted value with particular respective index
res = pd.DataFrame(target) # target are nothing but the final predictions of your model on input features of your new unseen test data
res.index = test_data.index # its important for comparison. Here "test_new" is your new test dataset
res.columns = ["prediction"]

# To download the csv file locally
from google.colab import files
res.to_csv('submission.csv', index=False)         
files.download('submission.csv')